<div class="container">
  <h3>Weather Dashboard</h3>

  <div ng-if="feedLoaded">  
    <div class="row-fluid">
      <div class="span6">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn">Min</button>
          <button type="button" class="btn">Hour</button>
          <button type="button" class="btn">Day</button>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">    
        <div linear-chart chart-data="feeds"></div>
      </div>
    </div>

    <div class="row-fluid">
      <table class="table feed-table">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th class='data-col'>{{channel.field1}}</th>
          <th class='data-col'>{{channel.field2}}</th>
        </tr>
        <tr ng-repeat="rec in feeds">
          <td>{{rec.created_date | date}}</td>
          <td>{{rec.created_date | shorttime}}</td>
          <td class='data-col'>{{rec.field1}}</td>
          <td class='data-col'>{{rec.field2}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
